$color-primary: rgb(125, 82, 67);
$background-color: #f9fafa;

$color-black: #000;
$color-white: #fff;

$color-red: rgb(237, 28, 36);
$color-tomato: #e84a43;

$color-gray-1: rgb(80, 80, 80);
$color-gray-2: rgb(120, 120, 120);
$color-gray-3: rgb(140, 140, 140);
$color-gray-4: rgb(160, 160, 160);
$color-gray-6: #e9e7e7;
$color-gray-7: #efefef;

